<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devlabs.theoneapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".TheOneApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheOneApp">
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.devlabs.movies.MoviesListActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name="com.devlabs.characters.CharactersListActivity"
            android:theme="@style/Theme.AppCompat"/>

        <activity
            android:name="com.devlabs.characters.CharacterDetailsActivity"
            android:theme="@style/Theme.AppCompat"/>

        <activity
            android:name="com.devlabs.movies.FavoriteMoviesActivity"
            android:theme="@style/Theme.AppCompat"/>
    </application>

</manifest>